.bg-grad-sidebar {
    /*background-image: linear-gradient(0deg, #ffffff 0%, #155e93 100%);*/
    background: #df8860;
}
.bg-logo {
    background-color: #dfb15b;
}

.w-sidebar {
    width: 14.75rem;
}

.h-full {
    height: 100%;
    background: #dfb15b;
}


