.bg-grad-sidebar {
    /*background-image: linear-gradient(0deg, #ffffff 0%, #155e93 100%);*/
    background: #00519a;
}
.bg-logo {
    background-color: #00519a;
}

.w-sidebar {
    width: 14.75rem;
}

.h-full {
    height: 100%;
    background: #00519a;
}


